{% extends 'partial/base.html' %}
{% load static %} 
{%block title %}Profile {% endblock  %}
{% block content%}
    <main>
        <div class="container">
            <form class="ui form" action="" method="post">
                {% csrf_token %}
                {% for user_details in user %}
                <div class="field">
                    <input type="hidden" name="id_user" value="{{ user_details.pk}}">
                </div>
                <h4 class="ui dividing header">Personal User Information</h4>
                <div class="field">
                    <div class="field" style="margin-top:0px; text-align:center;">
                        {% if user_details.picture %}
                        <img class="ui medium circular image" src="{{user_details.picture.url}}" alt="{{user_details.picture.url}}" height="250px !important" width="250px !important">
                        <i>
                            {{user_details.picture.path}}
                        </i>
                    {% else %}
                        <img class="ui right spaced avatar image" src="{% static 'images/user.png'%}" style="background-color: black;" height="200" width="200" alt="Profile Picture">
                    {% endif %}
                    
                </div>
                <div class="field">
                    <label for="">Picture</label>
                    <input type="file" name="picture" id="" />
                </div>
                    <label>Name</label>
                    <div class="two fields">
                        <div class="field">
                        <input type="text" name="first-name" placeholder="First-Name" value="{{user_details.first_name}}">
                        </div>
                        <div class="field">
                        <input type="text" name="last-name" placeholder="Last-Name" value="{{user_details.last_name}}">
                        </div>
                    </div>
                    <label>Gender</label>
                    <div class=" field">
                        <div class=" field">
                            <select name="gender">
                                {% if user_details.sex == 'Male' %}
                                    <option value="Male"  selected>Male</option>
                                    <option value="Female">Female</option>
                                {% elif user_details.sex == 'Female' %}
                                    <option value="Male">Male</option>
                                    <option value="Female"  selected>Female</option>
                                    {% elif user_details.sex == 'Others' %}
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                {%endif%}
                            </select>
                        </div>
                    </div>
                    <label>Date Of Birth</label>
                    <div class="two fields">
                        <div class="field">
                            <input type="text" name="dob-txt" id="" value="{{user_details.dob}}" disabled>
                        </div>
                        <div class="field">
                            <input type="date" name="dob" id="" value="{{user_details.dob|date:'yyyy-MM-dd'}}" format="yyyy/MM/dd" min="1960-01-01" max="2004-01-01" >
                        </div>
                    </div>
                    </div>
                    <h4 class="ui dividing header">User Contact Information</h4>
                <div class="field">
                    <label>Contact</label>
                    <div class="two fields">
                        <div class="field">
                        <input type="text" name="phone-number" placeholder="Phone Number" value="{{user_details.phone}}">
                        </div>
                        <div class="field">
                        <input type="email" name="email-address" placeholder="Email Address" value="{{user_details.email}}">
                        </div>
                    </div>
                </div>
                <h4 class="ui dividing header">User Location Information</h4>
                <label>Location</label>
                <div class="three fields">
                    <div class="field">
                        <input type="text" name="country" id="" value="{{user_details.country}}" placeholder="Country">
                    </div>
                    <div class="field">
                        <input type="text" name="city" id="" value="{{user_details.city}}" placeholder="city">
                    </div>
                    <div class="field">
                        <input type="text" name="district" id="" value="{{user_details.district}}" placeholder="District">
                    </div>
                </div>
                <div class="field">
                    <button class="ui button" id="" type="submit">Save Information</button>
                </div>
            {% endfor %}
            </form>
        </div>
    </main>
    <div class="text-right bg-success w-25 position-absolute button-0 end-0 p-2" >
        <strong>
            {% if messages %}
                    {% for message in messages %}
                    <i 
                    {% if nessage.tags %} 
                        class="alert alert-{{message.tags}} alert-dismissible fade show  fw-normal" role="alert"
                    {% endif%} >
                        {{message}}
                    </i>
                    {% endfor %}
            {% endif %}
        </strong> 
    </div>
{% endblock content%}