{% extends 'partial/base.html'%}
{% block title%}
    my-ads
{% endblock%}
{% block content%}
<main>
    <div class="sticky-top bg-light mb-0">
        <a href="{% url 'Item:profile' %}" class="nav-link"><i class="bi-chevron-left mr-4" ></i>My Ads</a>
    </div>
    <div class="container ">
        <div class="row " style="">
            
            <div class="col-12 col-lg-12" style="">
                {% for i in item %}
                    <div class="col-12  col-lg-4 mt-4 mr-lg-1 rounded" style="padding-left: 0px;   padding-right: 0px;margin-right: 0px;border-radius: 5px !important;">
                        <div class="card mb-2" style="">
                            <div class="row">
                                <div class="col-6 col-lg-6 " style="padding-right:0px !important">
                                    <img src="{{i.image.url}}" alt="{{i.title}}" class="img-fluid" style="box-sizing: border-box; height: 167px;object-fit: cover;">
                                </div>
                                <div class="col-6  col-lg-6" style="padding-left: 0px !important;">
                                    <div class="p-1 ">
                                        <h6 class="card-title text-primary">{{i.title}}</h6>
                                        <p class="card-text" style="font-size: 13px;">{{i.description|truncatechars:50}}</p>
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="product_id" id="" value="{{i.id}}">
                                                {% if i.status%}
                                                <button type="submit" class="btn btn-success p-1 p-lg-2 align-center" name="state" value="Activate">Activate</button>
                                                {% else %}
                                                    <button type="submit" class="btn btn-danger p-1 p-lg-2" name="state" value="Deactivate">Deactivate</button>
                                                {% endif %}
                                            </form>
                                                <p class="card-text"><small class="text-muted">{{i.updatedAT}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
    <div class="diplay-4">
        Simular Adverts
    </div>
    <div class="tab">
        <div id="#active"></div>
        <div id="#review"></div>
        <div id="#rdecline"></div>
    </div>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {% if messages %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock%}