{% load static%}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock%}</title>
    <link   href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
            crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" 
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" 
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" 
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<!-- UI SEMANTIC -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" integrity="sha512-+vQ+jSa1HG6gePn+YmXcXoemUtDTMeEJOM5rs4eS1rClpOnKm2WAZRS/rjWZkSnna1mAMZ8upmOxrJgoUKX9lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js" integrity="sha512-9mIO3KPsmSi7I/QkDmWn0gjtdcXNRg5lt7eLyiUDwz/gWpLxmV3XQS167QYjMalE2KFQy56o9OVM8CX0Vrvd4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.js" integrity="sha512-Pmabrdb81RfrLThufwK3BTp10DqdsasMqpHBPUisMxmERxDt4kJQcLhnvViKzjJHdiGqs84adjUO8qfG7qqboA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.css" integrity="sha512-opFdp60SaM/77ospTv5bG2GBvDeqHx8GF5gfd7uc4DJM4ZE+9TNCZ3t3xi8dVvXQv6Hnq4NyZNgYrixzdEaRpA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>


</head>
<body class="">
    <!-- <header class="" style="text-align: left !important;">
       <a href="/" class="nav-link h3"><i class="bi-chevron-left mr-4" ></i>Home Profile</a> 
    </header> -->
    <!-- Message -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            {% if messages %}
                {% for message in messages %}
            <strong class="me-auto">{{message.tags}}</strong>
            <small>11 mins ago</small>

            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            {{message}}
          </div>
            {% endfor %}
          {% endif %}
        </div>
    </div>
    {% block content%}
    {% endblock %}

    <!-- {% block extra_body %}
    {% endblock %} -->
    <div class="menu-bar">
        <div>
            <a href="/" class="nav-link"><i class="bi-house" ></i>
                <!-- <h5 class="h6 m-0">
                    HOME
                </h5> -->
            </a>
        </div>
        <div>
            <a href="{% url 'Item:add-item' %}" class="nav-link"><i class="bi-plus-circle p-2" ></i>
                <!-- <h5 class="h6">
                    SELL
                </h5> -->
            </a>
        </div>
        <div>
            <a href="{% url 'Item:profile' %}" class="nav-link"><i class="bi-person-circle" ></i>
                <!-- <h5 class="h6">
                    PROFILE
                </h5> -->
            </a>
        </div>
        
    </div>
    
  <script src="{% static 'js/jquery.min.js' %}"></script> 
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>